<nav class="navbar navbar-expand-lg navbar-dark bg-color">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ntoggle" aria-controls="ntoggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="ntoggle">
            <a class="navbar-brand" href="/">
            <b><%= bot.name %></b>
            </a>
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"bo href="<%= bot.dashbpard %>">
                    Dahsboard - Soon!!! </a>
                </li>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"bo href="/commands">
                    Commands</a>
                </li>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"bo href="<%= bot.faq %>">
                    FAQ</a>
                </li>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"bo href="<%= bot.docs %>">
                    Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= bot.invite %>">
                    Invite Zexoire</a>
                    <li class="nav-item">
                      <a class ="nav-link"
                      href="<%= bot.support %>">
                        Support server</a>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
